/**
  README

  Use this file ONLY to override VUETIFY styles (on components, vuetify classes etc.)
  or to override default style for HTML elements - tags (p, h1, a, etc.).

  If override is used to change style in only one place (one view, component etc),
  then write it within that component, not here. This file should be a default behavior
  of all components.

  Do NOT add custom classes here, use app.scss for that.
  Do NOT add variables here, use variables.scss for that.

  Tend to put selectors in ALPHABETIC order and use nesting when it's appropriate.
*/
/**
  README

  Use this file to override vuetify variables or to add new variables.

  This file contains ONLY variables, do NOT write styles here.

  - https://vuetifyjs.com/en/features/sass-variables/
  - https://vuetifyjs.com/en/api/vuetify/
*/
body {
  font-family: "Poppins", sans-serif;
}

.v-application.theme--dark a,
.v-application .v-application--wrap a {
  color: #ffffff;
  letter-spacing: 0.5px;
  text-underline-offset: 1px;
}
.v-application.theme--dark a.router-link-active,
.v-application .v-application--wrap a.router-link-active {
  font-weight: 700;
}
.v-application.theme--dark h1,
.v-application .v-application--wrap h1 {
  letter-spacing: 1.5px;
}
.v-application.theme--dark h2,
.v-application .v-application--wrap h2 {
  letter-spacing: 1.3px;
}
.v-application.theme--dark h3,
.v-application .v-application--wrap h3 {
  letter-spacing: 1px;
}
.v-application.theme--dark p,
.v-application .v-application--wrap p {
  letter-spacing: 0.5px;
}
.v-application.theme--dark .subtitle-1,
.v-application .v-application--wrap .subtitle-1 {
  letter-spacing: 0.5px !important;
}
.v-application.theme--dark .v-btn,
.v-application .v-application--wrap .v-btn {
  box-shadow: none;
  text-transform: none;
}
.v-application.theme--dark .v-btn:not(.v-btn--round).v-size--default,
.v-application .v-application--wrap .v-btn:not(.v-btn--round).v-size--default {
  font-size: 17px;
  height: 44px;
}
.v-application.theme--dark .v-btn-toggle,
.v-application .v-application--wrap .v-btn-toggle {
  background: transparent !important;
}
.v-application.theme--dark .v-btn-toggle .v-btn:not(.v-item--active),
.v-application .v-application--wrap .v-btn-toggle .v-btn:not(.v-item--active) {
  background-color: transparent !important;
}
.v-application.theme--dark .v-btn-toggle .v-btn.v-item--active,
.v-application .v-application--wrap .v-btn-toggle .v-btn.v-item--active {
  background-color: var(--v-primary-base);
}
.v-application.theme--dark .v-btn-toggle .v-btn.v-item--active::before,
.v-application .v-application--wrap .v-btn-toggle .v-btn.v-item--active::before {
  opacity: 0 !important;
}
.v-application.theme--dark .v-btn-toggle:not(.v-btn-toggle--group) .v-btn.v-btn,
.v-application .v-application--wrap .v-btn-toggle:not(.v-btn-toggle--group) .v-btn.v-btn {
  border-color: rgba(255, 255, 255, 0.7) !important;
}
.v-application.theme--dark .v-card,
.v-application .v-application--wrap .v-card {
  box-shadow: none !important;
}
.v-application.theme--dark .v-card.theme--dark,
.v-application .v-application--wrap .v-card.theme--dark {
  background-color: #212529;
}
.v-application.theme--dark .v-card .v-tabs-items,
.v-application .v-application--wrap .v-card .v-tabs-items {
  background-color: transparent;
}
.v-application.theme--dark .v-card .v-card__actions,
.v-application .v-application--wrap .v-card .v-card__actions {
  padding-top: 14px;
  padding-bottom: 14px;
}
.v-application.theme--dark .v-card .v-card__text,
.v-application .v-application--wrap .v-card .v-card__text {
  color: inherit;
  font-size: initial;
}
.v-application.theme--dark .v-card .v-card__actions,
.v-application.theme--dark .v-card .v-card__subtitle,
.v-application.theme--dark .v-card .v-card__text,
.v-application.theme--dark .v-card .v-card__title,
.v-application .v-application--wrap .v-card .v-card__actions,
.v-application .v-application--wrap .v-card .v-card__subtitle,
.v-application .v-application--wrap .v-card .v-card__text,
.v-application .v-application--wrap .v-card .v-card__title {
  padding-left: 24px;
  padding-right: 24px;
}
.v-application.theme--dark .v-chip,
.v-application .v-application--wrap .v-chip {
  border-radius: 5px;
}
.v-application.theme--dark .v-chip.chip-transparent,
.v-application .v-application--wrap .v-chip.chip-transparent {
  background-color: transparent !important;
  border: 1px solid #555;
}
.v-application.theme--dark .v-data-table,
.v-application .v-application--wrap .v-data-table {
  background-color: transparent;
}
.v-application.theme--dark .v-data-table thead th,
.v-application .v-application--wrap .v-data-table thead th {
  font-weight: normal;
  font-size: 1rem;
  letter-spacing: 1px;
}
.v-application.theme--dark .v-data-table tbody td,
.v-application .v-application--wrap .v-data-table tbody td {
  letter-spacing: 0.75px;
  border-bottom: 0 !important;
  height: 60px;
}
.v-application.theme--dark .v-data-table tbody tr:first-child:hover td:first-child,
.v-application .v-application--wrap .v-data-table tbody tr:first-child:hover td:first-child {
  border-top-left-radius: 0;
}
.v-application.theme--dark .v-data-table tbody tr:first-child:hover td:last-child,
.v-application .v-application--wrap .v-data-table tbody tr:first-child:hover td:last-child {
  border-top-right-radius: 0;
}
.v-application.theme--dark .v-data-table td > .v-input .v-input__control,
.v-application .v-application--wrap .v-data-table td > .v-input .v-input__control {
  min-height: 40px;
}
.v-application.theme--dark .v-data-table td > .v-input .v-input__slot,
.v-application .v-application--wrap .v-data-table td > .v-input .v-input__slot {
  background-color: var(--v-secondary-base);
  box-shadow: none;
}
.v-application.theme--dark .v-data-table td > .v-input .v-input__slot .v-select__selections,
.v-application .v-application--wrap .v-data-table td > .v-input .v-input__slot .v-select__selections {
  color: var(--v-secondary-lighten5);
  font-weight: 500;
}
.v-application.theme--dark .v-input.primary--text,
.v-application .v-application--wrap .v-input.primary--text {
  caret-color: #ffffff !important;
  color: #ffffff !important;
}
.v-application.theme--dark .v-input.v-text-field--outlined fieldset,
.v-application .v-application--wrap .v-input.v-text-field--outlined fieldset {
  border-color: rgba(255, 255, 255, 0.7);
}
.v-application.theme--dark .v-input .v-input__icon .v-icon,
.v-application .v-application--wrap .v-input .v-input__icon .v-icon {
  color: #ffffff !important;
}
.v-application.theme--dark .v-input--is-readonly input,
.v-application .v-application--wrap .v-input--is-readonly input {
  cursor: initial;
}
.v-application.theme--dark .v-input--is-readonly .mdi-menu-down,
.v-application .v-application--wrap .v-input--is-readonly .mdi-menu-down {
  display: none;
}
.v-application.theme--dark .v-label,
.v-application .v-application--wrap .v-label {
  color: #ffffff !important;
}
.v-application.theme--dark .v-label.primary--text,
.v-application .v-application--wrap .v-label.primary--text {
  color: #ffffff !important;
}
.v-application.theme--dark .v-list .v-list-item,
.v-application .v-application--wrap .v-list .v-list-item {
  color: #ffffff !important;
}
.v-application.theme--dark .v-messages,
.v-application .v-application--wrap .v-messages {
  font-weight: 700;
  letter-spacing: 0.5px;
}
.v-application.theme--dark .v-pagination button,
.v-application .v-application--wrap .v-pagination button {
  box-shadow: none;
  border: 1px solid rgba(255, 255, 255, 0.12);
}
.v-application.theme--dark .v-select .v-icon.primary--text,
.v-application .v-application--wrap .v-select .v-icon.primary--text {
  color: white !important;
}
.v-application.theme--dark .v-slide-group .v-slide-group__prev,
.v-application.theme--dark .v-slide-group .v-slide-group__next,
.v-application .v-application--wrap .v-slide-group .v-slide-group__prev,
.v-application .v-application--wrap .v-slide-group .v-slide-group__next {
  min-width: unset;
  flex: 0 1;
}
.v-application.theme--dark .v-slide-group .v-slide-group__prev .v-icon,
.v-application.theme--dark .v-slide-group .v-slide-group__next .v-icon,
.v-application .v-application--wrap .v-slide-group .v-slide-group__prev .v-icon,
.v-application .v-application--wrap .v-slide-group .v-slide-group__next .v-icon {
  font-size: 50px;
  width: 40px;
}
.v-application.theme--dark .v-stepper.v-stepper--alt-labels .v-stepper__label,
.v-application .v-application--wrap .v-stepper.v-stepper--alt-labels .v-stepper__label {
  text-align: center;
}
.v-application.theme--dark .v-text-field--solo .v-input__control .v-input__slot,
.v-application .v-application--wrap .v-text-field--solo .v-input__control .v-input__slot {
  background-color: var(--v-secondary-base);
  box-shadow: none !important;
}

.v-toast .v-toast__item {
  min-width: 150px;
  min-height: 3em;
  border-radius: 7px;
}
.v-toast .v-toast__item.v-toast__item--success {
  background-color: var(--v-success-darken2);
}
.v-toast .v-toast__item.v-toast__item--error {
  background-color: var(--v-error-darken2);
}
.v-toast .v-toast__item.v-toast__item--info {
  background-color: var(--v-info-darken2);
}
.v-toast .v-toast__item.v-toast__item--warning {
  background-color: var(--v-warning-darken2);
}
.v-toast .v-toast__item .v-toast__icon {
  width: 20px;
  min-width: 20px;
  height: 20px;
}
.v-toast .v-toast__item .v-toast__text {
  padding-top: 5px;
  padding-bottom: 5px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
  -webkit-transition-delay: 9999s;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #e3e3e3 #f6f6f7;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  height: 7px;
  width: 7px;
}

*::-webkit-scrollbar-track {
  background: #191c21;
}

*::-webkit-scrollbar-thumb {
  background-color: #373a3b;
  border-radius: 4px;
}

/*# sourceMappingURL=overrides.css.map */
