/**
  README

  Use this file to override vuetify variables or to add new variables.
  
  This file contains ONLY variables, do NOT write styles here.

  - https://vuetifyjs.com/en/features/sass-variables/
  - https://vuetifyjs.com/en/api/vuetify/
*/

// Globals

$border-radius-root: 7px;

// App

$app-background: #191c21;
$card-background: rgba(33, 37, 41, 0.72);
$border-gray: rgba(255, 255, 255, 0.12);
